@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");
header .cajatop {
  background-color: #8b5e34;
  padding-left: 3%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 97vw;
  margin-left: 3%;
}
header .cajatop li {
  background-color: #faedcd;
  border-radius: 4px;
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.7);
  line-height: 35px;
  border: #faedcd solid 2px;
  align-items: center;
  transition: all 0.5s;
}
header .cajatop li a {
  font-size: 25px;
  font-weight: 600;
  color: #8b5e34;
  padding: 1%;
  position: relative;
}
header .cajatop ul li {
  margin-right: 0em;
}
header .cajatop ul li:hover {
  padding-right: 25px;
  padding-left: 10px;
  background-color: #8b5e34;
}
header .cajatop ul li:hover:after {
  opacity: 1;
  right: 15px;
}
header .navegador {
  background-color: #8b5e34;
  padding-left: 3%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
header .navegador li {
  background-color: #faedcd;
  border-radius: 4px;
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.7);
  line-height: 35px;
  border: #faedcd solid 2px;
  align-items: center;
  transition: all 0.5s;
  transition: 0.5s;
}
header .navegador li a {
  font-size: 25px;
  font-weight: 600;
  color: #8b5e34;
  padding: 1%;
  position: relative;
}
header .navegador ul li:hover {
  padding-right: 25px;
  padding-left: 10px;
  background-color: #8b5e34;
}
header .navegador ul li:hover:after {
  opacity: 1;
  right: 15px;
}

.encabezado {
  text-align: center;
  z-index: 2;
  color: #be2c2c;
  font-weight: 1000;
  font-size: 4vw;
}

.logoGrande {
  display: flex;
  margin: auto;
  padding: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-left: 0px;
}

footer .contacto_footer {
  background-color: #8b5e34;
  margin: 0;
  padding: 1%;
}
footer .contacto_footer li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0%;
  border: #faedcd solid 1px;
  margin-top: 1%;
}
footer .contacto_footer a {
  text-decoration: none;
  color: #8b5e34;
  background-color: #faedcd;
  font-size: 110%;
  font-weight: 600;
  padding: 0;
}
footer .redes {
  background-color: #faedcd;
  padding: 0.5% 0%;
  text-align: center;
  border-radius: 4px;
  padding-top: 1px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.7);
  align-items: center;
}
footer .redes2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}
footer .redes3 {
  background-color: #8b5e34;
  padding: 0 5px;
  color: #faedcd;
  border: #faedcd solid 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 900;
}
footer .footer2 {
  padding: 1%;
  margin-top: 2%;
}
footer .footer2 li {
  padding-right: 0;
  padding-left: 0;
}

.botonMio2 {
  color: #faedcd;
  border: #faedcd solid 2px;
  background-color: #8b5e34;
  font-size: 25px;
}

.bloqueContacto {
  display: flex;
  text-align: center;
}

.mensajero {
  background-color: #8b5e34;
  padding: 1%;
  color: #faedcd;
  font-size: 20px;
  border-radius: 15px;
}

.contacta {
  background-color: #8b5e34;
  color: #faedcd;
  font-size: 1.5em;
  list-style-type: none;
  line-height: 80px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.contacta svg {
  color: #faedcd;
  width: 30px;
  height: 30px;
}
.contacta a {
  color: #faedcd;
  text-decoration: none;
}

.gps {
  margin: 5%;
}

.botonesContacto {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
}

.Productos1 {
  background-color: aqua;
}

.imgProducto {
  border-radius: 25px;
  margin: 0.5em 0;
}

.productosTitulo {
  color: #faedcd;
  background-color: #8b5e34;
  text-align: center;
  margin-bottom: 0;
}
.productosTitulo h2 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 0;
}

.filtro {
  background-color: #8b5e34;
  color: #faedcd;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filtro li {
  display: flex;
  flex-direction: column;
  border: solid #faedcd 2px;
  padding: 0.5em 2em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.filtro li:hover {
  padding-right: 25px;
  padding-left: 10px;
  background-color: #faedcd;
  color: #8b5e34;
  font-weight: 800;
}
.filtro li:hover:after {
  opacity: 1;
  left: 15px;
}

body {
  background-color: #faedcd;
  font-family: "Roboto", sans-serif;
}

.drop {
  padding: 0 0;
}
.drop a:hover {
  background-color: #8b5e34;
  border-radius: 4px;
  color: #faedcd;
}

.form-control:focus {
  border: #faedcd solid 4px;
  box-shadow: 0 0 0 0.15rem #be2c2c;
}

.buscador {
  width: 20vw;
  background-color: #8b5e34;
}

.botonMio {
  color: #faedcd;
  border: #faedcd solid 2px;
  margin: 2% 5%;
}

.botonesContacto {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
}

.cajaBus {
  margin: 2%;
}

.logoGrande {
  display: flex;
  margin: auto;
  padding: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrusel {
  height: 80vh;
  overflow: hidden;
}

.botonloco {
  border-radius: 4px;
  background-color: #8b5e34;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  position: relative;
  transition: 0.5s;
}
.botonloco:hover {
  padding-right: 25px;
  padding-left: 10px;
}
.botonloco:hover:after {
  opacity: 1;
  right: 15px;
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgnosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

.imgnosotros2 {
  border-radius: 20px;
  object-position: center;
  object-fit: scale-down;
  width: 100%;
}

.botonWhatsApp img {
  width: 60px;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 10;
}

.preguntasf {
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.contenedor_icono svg {
  background-color: transparent;
  width: 50px;
  height: 50px;
}

/*---------------------------------------*/
/*MEDIAS*/
/*-----------------------------------------*/
@media (max-width: 600px) {
  .bloquenos {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .nosotros {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .imgnosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900%;
  }
  .imgnosotros2 {
    display: flex;
    justify-content: center;
  }
  .botonescontacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin: 0 20%;
  }
  .imput2 {
    display: flex;
    flex-direction: column;
  }
  .buscador {
    width: 100%;
    border-radius: 10px;
    margin-top: 4%;
  }
  .botonMio {
    margin: 1% 2%;
  }
  .bloqueContacto {
    display: flex;
    flex-direction: column;
  }
  .mensajero {
    display: block;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
    margin: 5%;
  }
  .contacta {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
    margin: 5%;
  }
  .cajatop {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 1em;
    border-radius: 15px;
  }
  .cajatop li {
    width: 90vw;
    margin: 1vw;
    padding: 0;
    margin: 0;
  }
  .cajatop li ul {
    background-color: #8b5e34;
    padding: 2%;
  }
  .cajatop li ul ul li {
    display: block;
    width: 100%;
    margin: 2%;
  }
  .navegador {
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
  }
  .navegador li {
    width: 90vw;
    margin: 1vw;
    padding: 0;
    margin: 0;
  }
  .navegador li ul {
    background-color: #8b5e34;
    padding: 2%;
  }
  .navegador li ul ul li {
    margin: 1%;
  }
  .logo2 {
    display: none;
  }
  .logo3 {
    display: flex;
    justify-content: center;
  }
  .encabezado {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
  }
  .redes {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    padding: auto;
  }
}
@media (max-width: 991px) and (min-width: 601px) {
  .cajatop {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
  }
  .cajatop li {
    width: 85vw;
    padding: 0;
    margin-left: 1%;
  }
  .cajatop li ul {
    background-color: #8b5e34;
    padding: 1%;
  }
  .cajatop li ul ul li {
    display: block;
    margin: 2%;
  }
  .navegador {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    margin-left: 2vw;
  }
  .navegador li {
    width: 75vw;
    padding: 0;
    margin-left: 1%;
    width: 90vw;
  }
  .navegador li ul {
    background-color: #8b5e34;
    padding: 1%;
  }
  .navegador li ul ul li {
    display: block;
    width: 50%;
    margin: 2%;
  }
  .buscador {
    width: 100%;
    border-radius: 10px;
    margin-top: 4%;
  }
  .logo2 {
    display: none;
  }
  .logo3 {
    display: flex;
    justify-content: center;
  }
  .encabezado {
    text-align: center;
  }
  .encabezado2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bloqueContacto {
    display: flex;
    flex-direction: column;
  }
  .mensajero {
    display: block;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
    margin: 5%;
  }
  .contacta {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
    margin: 5%;
  }
  .gps {
    min-width: 500px;
  }
  .mapo {
    min-width: 500px;
  }
  .redes {
    margin-bottom: 2%;
  }
}
@media (min-width: 992px) {
  .mensajero {
    padding: 3%;
  }
  .navega2 {
    overflow: hidden;
  }
  .navegador {
    padding: 1% 1%;
  }
  .navegador li {
    padding: 2px;
  }
  .cajatop {
    padding: 1% 1%;
  }
  .cajatop li {
    padding: 2px;
  }
  .logo3 {
    display: none;
  }
  .logo2 {
    display: flex;
    justify-content: center;
  }
  .encabezado {
    text-align: left;
  }
  .redes {
    max-width: 15vw;
    margin-bottom: 2%;
  }
}

/*# sourceMappingURL=estilo.css.map */
