/*---------------------------------------*/
/*MEDIAS*/
/*-----------------------------------------*/

@media (max-width: 600px) {

    .media-nav {
        position: sticky;
        top: 0;
    }
    
    .bloquenos {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .nosotros {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imgnosotros {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 900%;
    }

    .imgnosotros2 {
        display: flex;
        justify-content: center;
    }

    .botonescontacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        margin: 0 20%;
    }

    .imput2 {
        display: flex;
        flex-direction: column;
    }

    .buscador {
        width: 100%;
        border-radius: 10px;
        margin-top: 4%;
    }

    .botonMio {
        margin: 1% 2%;
    }

    .bloqueContacto {
        display: flex;
        flex-direction: column;
    }

    .mensajero {
        display: block;
        width: 90%;
        align-items: center;
        flex-direction: column;
        padding: 5% 10%;
        margin: 5%;
    }

    .contacta {
        display: flex;
        width: 90%;
        align-items: center;
        flex-direction: column;
        padding: 5% 10%;
        margin: 5%;
    }

    .cajatop {
        display: block;
        flex-direction: column;
        margin: 0;
        padding: 1em;
        border-radius: 15px;

        li {
            width: 90vw;
            margin: 1vw;
            padding: 0;
            margin: 0;
            
            ul {
                background-color: $background-color_2;
                padding: 2%;
                ul li {
                    display: block;
                    width: 100%;
                    margin: 2%;
                }
            }
        }
    }

    .navegador {
        flex-direction: column;
        padding: 1em;
        border-radius: 15px;

        li {
            width: 90vw;
            margin: 1vw;
            padding: 0;
            margin: 0;
            
            ul {
                background-color: $background-color_2;
                padding: 2%;
                ul li {
                    margin: 1%;
                }
            }
        }
    }

    .logo2 {
        display: none;
    }

    .logo3 {
        display: flex;
        justify-content: center;
    }

    .encabezado {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    }

    .redes {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        margin: auto;
        padding: auto;
    }
}

@media (max-width: 991px) and (min-width: 601px) {
    .media-nav {
        display: flex;
        flex-direction: row;   
    }
    
    .cajatop {
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 15px;

        li {
            width: 85vw;
            padding: 0;
            margin-left: 1%;
            
            ul {
                background-color: $background-color_2;
                padding: 1%;
                ul li {
                    display: block;
                    margin: 2%;
                }
            }
        }
    }

    .navegador {
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 15px;
        margin-left: 2vw;
        

        li {
            width: 75vw;
            padding: 0;
            margin-left: 1%;
            width: 90vw;
            
            ul {
                background-color: $background-color_2;
                padding: 1%;
                ul li {
                    display: block;
                    width: 50%;
                    margin: 2%;
                }
            }
        }
    }

    .buscador {
        width: 100%;
        border-radius: 10px;
        margin-top: 4%;
    }

    .logo2 {
        display: none;
    }

    .logo3 {
        display: flex;
        justify-content: center;
    }

    .encabezado {
        text-align: center;

    }

    .encabezado2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bloqueContacto {
        display: flex;
        flex-direction: column;
    }

    .mensajero {
        display: block;
        width: 90%;
        align-items: center;
        flex-direction: column;
        padding: 5% 10%;
        margin: 5%;
    }

    .contacta {
        display: flex;
        width: 90%;
        align-items: center;
        flex-direction: column;
        padding: 5% 10%;
        margin: 5%;
    }

    .gps {
        min-width: 500px;
    }

    .mapo {
        min-width: 500px;
    }

    .redes {
        margin-bottom: 2%;
    }

}

@media (min-width:992px) {
    .mensajero {
        padding: 3%;
    }

    .navega2 {
        overflow: hidden;
    }

    .navegador {
        padding: 1% 1%;

        li {
            padding: 2px;
        }
    }

    .cajatop {
        padding: 1% 1%;

        li {
            padding: 2px;
        }
    }

    .logo3 {
        display: none;
    }

    .logo2 {
        display: flex;
        justify-content: center;
    }

    .encabezado {
        text-align: left;
    }
    
    .redes {
        max-width: 15vw;
        margin-bottom: 2%;
    }
}