.productos1 {
    background-color: $background-color_1;
    border: solid 3px $color_1;
    color: $color_1;
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    width: 15vw;
    margin-left: 0;
    min-width: 180px;
}

.productoNav {
    display: flex!important;
    flex-wrap: wrap;
}

.imgProducto {
    width: 18em;
    margin-bottom: 1em;
    margin-right: 1em;
    border: solid $color_1 3px;
    font-weight: 800;
    text-align: center;
        h5 {
            font-weight: 900;
        }
}

.list-group-item.active {
    color: $color_2;
    background-color: $background-color_2;
    border-color: $color_3;
}